# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Test coverage
coverage/
debug-logs/
Client Secret JSON from Google Cloud.json
